{% extends "AriiCoreBundle::base.html.twig" %}
{% block head %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
<!-- Optional theme -->
<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}">
{% endblock %} 
{% block body %}
<body>
<div class="container-fluid">
<div class="jumbotron">
<img style="float: right;" src="{{ asset('arii.png') }}"/>
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>  
</div>
{% if status == 'DOWNTIME' %}   
    <div class="alert alert-info" role="alert">
        <h2>{{ downtimes_info }}</h2>
        <p>{{ 'User' | trans }}: <b>{{ downtimes_user }}</b></p>
    </div>
{% endif %}
{% if status == 'OK'  %}   
    <div class="alert alert-success" role="alert">
    </div>
{% endif %}
{% if status == 'WARNING'  %}   
    <div class="alert alert-warning" role="alert">
    </div>
{% endif %}
{% if status == 'ERROR'  %}   
    <div class="alert alert-danger" role="alert">
    </div>
{% endif %}
{% if status == 'UNKNOWN'  %}   
{% endif %}

</div>
</body>
{% endblock %}
