{% extends "AriiDSBundle::bootstrap.html.twig" %}
{% block body %}
<div class="container-fluid">
<div class="jumbotron">
    <div style='float: right'><img src="{{ asset('/bundles/ariicore/images/cover/') }}/{{ module.img }}"/></div>
  <h1>{{ module.name }}</h1>
  <p>{{ module.desc }}</p>
</div>
<h2>{{ "Databases" | trans }}</h2>
<ul class="list-group">
  {% for title,repository in Repositories %} 
      <li class="list-group-item {% if repository.name == db_active %}active{% endif %}"><a href="{{ url('arii_DS_orders') }}?db={{ repository.name }}" target="_top"> {% if repository.name == db_active %}<font color='white'>{% endif %}{{ repository.title }}{% if repository.name == db_active %}</font>{% endif %}</a></li>
  {% endfor %}
</ul>
</div>
{% endblock %}
