{% extends "AriiCoreBundle::base.html.twig" %}
{% block head %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
<!-- Optional theme -->
<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}">
{% endblock %}
{% block body %}
<body class="bg-light">
<div class="container-fluid">
    <form>
    <div class="row">
      <div class="col-xs-12 col-md-8 form-group" >
        <label for="order">{{ "Id" | trans }}</label>
        <input class="form-control" id="order" value="{{ ORDER }}"/>
      </div>
      <div class="col-xs-12 col-md-4 form-group">
        <button type="button" class="btn btn-success btn-lg">&nbsp;&nbsp;{{ STATUS }}&nbsp;&nbsp;</button>
      </div>      
    </div>
    <div class="row">   
        <div class="col-xs-12 col-md-12 form-group">
          <label for="title">{{ "Title" | trans }}</label>
          <input class="form-control" id="title" value="{{ TITLE }}"/>
        </div>  
    </div>   
    <div class="row">  
        <div class="col-xs-12 col-md-8 form-group">
        <label for="chain">{{ "Chain" | trans }}</label>
        <input class="form-control" id="chain" value="{{ CHAIN }}"/>
      </div>
        <div class="col-xs-12 col-md-4 form-group">
          <label for="status">{{ "Spooler" | trans }}</label>
          <input class="form-control" id="order" value="{{ SPOOLER }}"/>
        </div>            
    </div>    
    <div class="row">  
        <div class="col-xs-12 col-md-4 form-group">
          <label for="host">{{ "Host" | trans }}</label>
          <input class="form-control" id="host" value="{{ HOST }}"/>
        </div>            
        <div class="col-xs-12 col-md-2 form-group">
          <label for="host">{{ "Port" | trans }}</label>
          <input class="form-control" id="host" value="{{ PORT }}"/>
        </div>            
        <div class="col-xs-12 col-md-6 form-group">
        <label for="path">{{ "Folder" | trans }}</label>
        <input class="form-control" id="path" value="{{ FOLDER }}"/>
        </div>
    </div>    
    <div class="row">
        <h2>{{ "State" | trans }}</h2>      
        <div class="col-xs-12 col-md-4 form-group">
          <label for="initial_state">{{ "Initial" | trans }}</label>
          <input class="form-control" id="initial_state" value="{{ INITIAL_STATE }}"/>
        </div>  
        <div class="col-xs-12 col-md-4 form-group">
          <label for="state">{{ "State" | trans }}</label>
          <input class="form-control" id="state" value="{{ STATE }}"/>
        </div>  
        <div class="col-xs-12 col-md-4 form-group">
          <label for="end_state">{{ "End" | trans }}</label>
          <input class="form-control" id="end_state" value="{{ END_STATE }}"/>
        </div>  
    </div>   
    <div class="row">   
        <div class="col-xs-12 col-md-12 form-group">
          <label for="end_state">{{ "Text" | trans }}</label>
          <input class="form-control" id="state_text" value="{{ STATE_TEXT }}"/>
        </div>  
    </div>   
    <div class="row">   
        <h2>{{ "Schedule" | trans }}</h2>      
        <div class="col-xs-12 col-md-6 form-group">
          <label for="active">{{ "Active schedule" | trans }}</label>
          <input class="form-control" id="initial_state" value="{{ SCHEDULE }}"/>
        </div>  
        <div class="col-xs-12 col-md-3 form-group">
          <label for="end_state">{{ "Start time" | trans }}</label>
          <input class="form-control" id="end_state" value="{{ START_TIME }}"/>
        </div>  
        <div class="col-xs-12 col-md-3 form-group">
          <label for="state">{{ "Next start" | trans }}</label>
          <input class="form-control" id="state" value="{{ NEXT_START_TIME }}"/>
        </div>  
    </div>    
{% if is_granted('ROLE_ADMIN') %}
    <div class="row">
        <h2>{{ "DB" | trans }}</h2>
        <div class="col-xs-12 col-md-12 form-group">
          <label for="end_state">{{ "Connection" | trans }}</label>
          <textarea rows="4" class="form-control" id="state_text">{{ CONNECTION }}</textarea>
        </div>  
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 form-group">
          <label for="end_state">{{ "ID" | trans }}</label>
          <input class="form-control" id="state_text" value="{{ ID }}"/>
        </div>  
        <div class="col-xs-12 col-md-4 form-group">
          <label for="end_state">{{ "HISTORY_ID" | trans }}</label>
          <input class="form-control" id="state_text" value="{{ HISTORY_ID }}"/>
        </div>  
        <div class="col-xs-12 col-md-4 form-group">
          <label for="end_state">{{ "TASK_ID" | trans }}</label>
          <input class="form-control" id="state_text" value="{{ TASK_ID }}"/>
        </div>  
    </div>
{% endif %}            
    </form>
</div>     
</body>
{% endblock %}
