{# src/Arii/AriiBundle/Resources/views/MFT/index.html.twig #}
{% extends "AriiMFTBundle::layout.html.twig" %}
{% block content %}
<!--[if !IE]>start section<![endif]-->	
<div class="section table_section">
	<!--[if !IE]>start title wrapper<![endif]-->
	<div class="title_wrapper">
		<h2>{{ "History" | trans }}</h2>
		<span class="title_wrapper_left"></span>
		<span class="title_wrapper_right"></span>
	</div>
	<!--[if !IE]>end title wrapper<![endif]-->
<!--[if !IE]>start section content<![endif]-->
	<div class="section_content">
		<!--[if !IE]>start section content top<![endif]-->
		<div class="sct">
			<div class="sct_left">
				<div class="sct_right">
					<div class="sct_left">
						<div class="sct_right">
    <div id="mygrid" style="height:576px;background-color:white;position:relative;overflow:hidden;"></div>				
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--[if !IE]>end section content top<![endif]-->
		<!--[if !IE]>start section content bottom<![endif]-->
		<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
		<!--[if !IE]>end section content bottom<![endif]-->
		
	</div>
	<!--[if !IE]>end section content<![endif]-->
</div>
<!--[if !IE]>end section<![endif]-->
<script language="javascript">
var autorefresh = setInterval( "GridRefresh()",30000);

var dhxLayout = new dhtmlXLayoutObject("mygrid","3T");
var toolbar = dhxLayout.attachToolbar();
toolbar.setIconsPath("{{ asset('/images/') }}");
toolbar.loadStruct("{{ url('xml_MFT_toolbar') }}");
toolbar.attachEvent( "onClick", function(id, value) {
    switch (id) {
        case "refresh":
            GridRefresh();
        break;
    case "start_jobs":
        StartJobs();
        break;
    case "stop_jobs":
        StopJobs();
        break;
    case "unstop_jobs":
        UnstopJobs();
        break;
        default:
            alert(id);
    }
});

dhxLayout.cells("a").hideHeader();
dhxLayout.cells("a").setHeight(295);

var mygrid = dhxLayout.cells("a").attachGrid();
mygrid.selMultiRows = true;
mygrid.setImagePath( "{{ asset('/images/') }}");
mygrid.setHeader(  "{{ "Timestamp" | trans }},{{ "Mandator" | trans }},{{ "Status" | trans }},{{ "Source host" | trans }},{{ "Operation" | trans }},{{ "Target host" | trans }},{{ "Filename" | trans }}" );
mygrid.attachHeader("#text_filter,#text_filter,#select_filter,#select_filter,#select_filter,#select_filter,#text_filter");
mygrid.setColumnIds(  "TIMESTAMP,MANDATOR,STATUS,SOURCE_HOST,OPERATION,TARGET_HOST,SOURCE_FILENAME" );
mygrid.setInitWidths( "130,150,80,120,80,120,*" );
mygrid.setColTypes(   "ro,ro,ro,ro,ro,ro,ro" );
mygrid.setColAlign(   "left,left,left,left,left,left,left" );
mygrid.setColSorting( "date,str,str,str,str,str,str" );
mygrid.enablePaging( true,20,10,"pagingArea",true,"recinfoArea" );
var sb = dhxLayout.cells("a").attachStatusBar();
dhxLayout.cells("a").vs[dhxLayout.cells("a").av].sbHeight = 30;
sb.setText('<div id="recinfoArea"></div>');
mygrid.enablePaging(true, 10, 5, "recinfoArea");
mygrid.setPagingSkin("toolbar","dhx_skyblue");
mygrid.setPagingWTMode(true,true,true,[ 5, 10, 20, 50, 100, 200, 400, 800]);
mygrid.setFiltrationLevel(-2);
mygrid.init();
mygrid.setSkin('dhx_skyblue');
mygrid.enableAlterCss("even_row","odd_row");
mygrid.i18n.paging={
      results: "{{ "Results" | trans }}",
      records: "{{ "From" | trans }} ",
      to: " {{ "to" | trans }} ",
      page:"{{ "Page" | trans }} ",
      perpage: "{{ "rows per page" | trans }}",
      first: "{{ "To first Page" | trans }}",
      previous:"{{ "Previous Page" | trans }}",
      found:"{{ "Found records" | trans }}",
      next:"{{ "Next Page" | trans }}",
      last:"{{ "To last Page" | trans }}",
      of:" {{ "of" | trans }} ",
      notfound:"{{ "No Records Found" | trans }}" };
mygrid.csv.cell = "	";
mygrid.csv.row = "\n";
mygrid.loadXML( "{{ url('db_sosftp_history') }}" );
mygrid.enableLightMouseNavigation( true );
</script>
<script type="text/javascript">
setInterval( "FocusRefresh()",30000);
<!--
function FocusRefresh() {
var currentTime = new Date()
var hours = currentTime.getHours()
var minutes = currentTime.getMinutes()
var seconds = currentTime.getSeconds()
if (minutes < 10){
minutes = "0" + minutes
}
if (seconds < 10){
seconds = "0" + seconds
}
document.getElementById( 'clock' ).innerHTML =  hours + ":" + minutes + ":" +  seconds
mygrid.loadXML( "{{ url('db_sosftp_history') }}" );
}
//-->
</script>
{% endblock %}
