{# src/Arii/JIDBundle/Resources/views/Default/history.html.twig #}
{% extends "AriiCoreBundle::layout.html.twig" %}
{% block body %}
<script type="text/javascript">
dhtmlxEvent(window,"load",function(){ 
    globalLayout = new dhtmlXLayoutObject(document.body,"2U");  
    globalLayout.cells("a").hideHeader();

    globalMenu = globalLayout.cells("a").attachMenu();
    globalMenu.setIconsPath( "{{ asset('/bundles/ariicore/images/menu/') }}" );
    globalMenu.loadStruct("{{ url('xml_menu') }}?route={{ app.request.attributes.get('_route') }}");    

    myRibbon = globalLayout.cells("a").attachRibbon(); 
    myRibbon.setIconPath( "{{ asset('bundles/ariicore/images/ribbon/') }}" );
    myRibbon.loadStruct("{{ url('json_Home_ribbon') }}");
    myRibbon.attachEvent("onStateChange", StateRibbon );
    myRibbon.attachEvent("onClick", ClickRibbon );

    globalLayout.cells("a").setWidth(360);
    globalLayout.cells("b").hideHeader();
    globalLayout.cells("b").attachURL("{{ url('html_Core_readme') }}");

    myDocs = globalLayout.cells("a").attachAccordion();
    myDocs.addItem( "Home", "{{ "Ari'i" }}", true);

    myTree = myDocs.cells("Home").attachTree();
    myTree.setImagesPath("{{ asset('bundles/ariicore/images/tree/') }}");
    myTree.load("{{ url('xml_docs_tree') }}?route=arii_Core_index");
    myTree.attachEvent("onClick",function(id){
        globalLayout.cells("b").attachURL("{{ url('html_doc_view') }}?doc="+id);
    })    
    
    {% for name,info in Modules %}
        myDocs.addItem( "{{ name }}", "{{ info.name }}" );
    {% endfor %}
        
    {% for name,info in Modules %}
        myTree{{name}} = myDocs.cells("{{ name }}").attachTree();
        myTree{{name}}.setImagesPath("{{ asset('bundles/ariicore/images/tree/') }}");
        myTree{{name}}.load("{{ url('xml_docs_tree') }}?route=arii_{{name}}_index");
        myTree{{name}}.attachEvent("onClick",function(id){
            globalLayout.cells("b").attachURL("{{ url('html_doc_view') }}?doc="+id);
        })    
    {% endfor %}
});
function getImageStyle(obj){
    if(window._isIE){
        return "background-image: none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ asset('bundles/ariicore/images/cover/') }}"+obj.img+"',sizingMethod='crop');";
    }
    else{
        return "background-image:url({{ asset('bundles/ariicore/images/cover/') }}"+obj.img+");";	
    }
}	
</script>
</body>
{% endblock %}
